/* add styles here */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; }

html, body { height: 100%; font: normal 12px/1.3 "Lucida Sans Unicode", Arial, Helvetica, sans-serif; }

a { outline: none; text-decoration: none; }


/* empty slots */
.inventory .slot-1  a.empty { background-position: 1px 1px; } /* Head */
.inventory .slot-2  a.empty { background-position: 1px -46px;  } /* Neck */
.inventory .slot-3  a.empty { background-position: 1px -93px;  } /* Shoulder */
.inventory .slot-16 a.empty,                                     /* Back */
.inventory .slot-5  a.empty { background-position: 1px -140px; } /* Chest */
.inventory .slot-19 a.empty { background-position: 1px -187px; } /* Tabard */
.inventory .slot-4  a.empty { background-position: 1px -234px; } /* Shirt */
.inventory .slot-9  a.empty { background-position: 1px -281px; } /* Wrist */
.inventory .slot-10 a.empty { background-position: 1px -328px; } /* Hands */
.inventory .slot-6  a.empty { background-position: 1px -375px; } /* Waist */
.inventory .slot-7  a.empty { background-position: 1px -422px; } /* Legs */
.inventory .slot-8  a.empty { background-position: 1px -469px; } /* Feet */
.inventory .slot-11 a.empty { background-position: 1px -516px; } /* Finger */
.inventory .slot-12 a.empty { background-position: 1px -563px; } /* Trinket */
.inventory .slot-21 a.empty { background-position: 1px -610px; } /* Main Hand */
.inventory .slot-22 a.empty { background-position: 1px -657px; } /* Off Hand */
.inventory .slot-15 a.empty { background-position: 1px -704px; } /* Ranged */
.inventory .slot-28 a.empty { background-position: 1px -751px; } /* Relic */

.inventory .item-quality-0 a.item .frame { background-position: -49px  0; }
.inventory .item-quality-1 a.item .frame { background-position: -98px  0; }
.inventory .item-quality-2 a.item .frame { background-position: -147px 0; }
.inventory .item-quality-3 a.item .frame { background-position: -196px 0; }
.inventory .item-quality-4 a.item .frame { background-position: -245px 0; }
.inventory .item-quality-5 a.item .frame { background-position: -294px 0; }
.inventory .item-quality-6 a.item .frame { background-position: -343px 0; }
.inventory .item-quality-7 a.item .frame { background-position: -392px 0; }

/* socket icons */
.socket-outer {
    /*width: 15px;
    height: 15px;*/
    float: left;
    margin-right: 4px;
}

.socket-bonus {
    float: left;
    padding: 5px;
}

.socket-outer .icon {
    width: 13px;
    height: 13px;
    padding: 1px 0 0 1px;
    display: block;
}
.socket-outer .frame {
    width: 15px;
    height: 15px;
    display: block;
    position: relative;
    top: -15px;
    background: url("../images/icons/frames/sockets.png") no-repeat;
}

.socket-outer {
    border: 3px solid;
    padding: 2px;
}

.socket {
    color: white;
}

.socket-Meta { background-color: #29292a;
	       border-color: #eeeeee;
	       color: #eeeeee;
	     } /* Meta */
.socket-Red { background-color: #301010; 
	      border-color: #f00609;
	      color: #f00609;
	    } /* Red */
.socket-Yellow { background-color: #403010; 
		 border-color: #fcef00;
		 color: #fcef00;
	       } /* Yellow */
.socket-Blue { background-color: #102040; 
	       border-color: #09c2ff;
	       color: #09c2ff;
	     } /* Blue */
.socket-Prismatic { background-color: #29292a; 
		    border-color: #b1b1b1;
		    color: #b1b1b1;
		  } /* Prismatic */
.socket-Hydraulic { background-color: red; 
		    border-color: #b1b1b1;
		    color: #b1b1b1;
		  }     /* Hydraulic */
.socket-Cogwheel { background-color: #29292a; 
		   border-color: #b1b1b1;
		   color: #b1b1b1;
		 } /* Cogwheel */

/* gem colors */
.gem-subclassId-0 { /* red */
    color: #f00609;
}
.gem-subclassId-1 { /* blue */
    color: #09c2ff;
}
.gem-subclassId-2 { /* yellow */
    color: #fcef00;
}
.gem-subclassId-3 { /* purple */
    color: #d700ff;
}
.gem-subclassId-4 { /* green */
    color: #39e730;
}
.gem-subclassId-5 { /* orange */
    color: #ffb000;
}
.gem-subclassId-6 { /* meta */
    color: #eeeeee;
}
.gem-subclassId-8 { /* prismatic */
    color: #b1b1b1;
}
.gem-subclassId-9 { /* hydraulic */
    color: #b1b1b1;
}
.gem-subclassId-10 { /* cogwheel */
    color: #b1b1b1;
}

.socket-Meta .frame { background-position:  -45px   0 !important; } /* Meta */
.socket-Red .frame { background-position:      0   0 !important;; } /* Red */
.socket-Yellow .frame { background-position:  -15px   0 !important; } /* Yellow */
.socket-Blue .frame { background-position:  -30px   0 !important; } /* Blue */
.socket-Orange .frame { background-position:  -90px   0 !important; } /* Orange */
.socket-Purple .frame { background-position:  -75px   0 !important; } /* Purple */
.socket-Green .frame { background-position: -105px   0 !important; } /* Green */
.socket-Prismatic .frame { background-position:  -60px   0 !important; } /* Prismatic */
.socket-Hydraulic .frame { background-position:      0   0 !important; } /* Hydraulic */
.socket-Cogwheel .frame { background-position:  -45px   0 !important; } /* Cogwheel */

/* item colors */
.item-quality-0 { color: #9d9d9d; }
.item-quality-1 { color: #ffffff; }
.item-quality-2 { color: #1eff00; }
.item-quality-3 { color: #0070dd; }
.item-quality-4 { color: #a335ee; }
.item-quality-5 { color: #ff8000; }
.item-quality-6 { color: #e5cc80; }
.item-quality-7 { color: #e5cc80; }

/* item select dialog */

.item-search {
    height: 1px;
    width: 1px;
    left: 50%;
    top: 50%;
    position: fixed;
}

.item-search-box {
    position: absolute;
    margin: 0 auto;
    left: -400px;
    top: -282px;
    width: 800px;
    height: 564px;
}

.item-search-inner {
    width: 780px;
    height: 554px;
    background-color: #303030;
    border: 10px solid #303030;
}

.item-search-input {
    color: white;
}

.item-search-results {
    background-color: black;
    height: 468px;
    overflow: auto;
    color: white;
    margin-bottom: 2px;
}