/* add styles here */

body {
    margin: 0px;
}

/* inventory */
.inventory {
    width: 810px;
    /*background: url("../images/character/summary/backgrounds/race/8-0-in.jpg") no-repeat;*/
}

.inventory .right-slots {
    float: right;
}

.inventory .bottom-slots {
    clear: both;
}

.inventory .bottom-slots .slot {
    float: left;   
}

.stats {
    float: left;
    width: 263px; height: 460px;
    border: 1px solid black;
}

.inventory .left-slots {
    float: left;
}

.inventory .slot a.empty {
    width: 49px; height: 49px;
    cursor: help;
    display: block;
    background: url("../images/character/summary/item-empty-bg.png") no-repeat; opacity: 0.33333;
}

.inventory .slot-contents {
    padding-top: 4px;
    padding-left: 4px;
}

.inventory .slot-right a { 
    float: right;
    padding-right: 4px; 
}
.inventory .slot-right a:after {
    clear: both;
}

.inventory .slot-inner { 
    width: 265px; 
    height: 57px;
    background: url("../images/character/summary/item-slot-advanced-bg.png") left top repeat-y; margin-bottom: 1px;
}

.inventory .slot-right .slot-inner { background-position: right top; text-align: right; }

.inventory .frame { 
    width: 49px; 
    height: 49px; 
    display: block;
    background: url("../images/icons/frames/inventory-slots.png") no-repeat; 
}

/*.inventory a.empty { 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px; 
}*/

.inventory a.empty { 
    opacity: 0.25; 
}

.inventory a.empty:hover { 
    opacity: 0.66666; 
}

/* empty slots */
.inventory .slot-1  a.empty { background-position: 1px 1px; } /* Head */
.inventory .slot-2  a.empty { background-position: 1px -46px;  } /* Neck */
.inventory .slot-3  a.empty { background-position: 1px -93px;  } /* Shoulder */
.inventory .slot-16 a.empty,                                     /* Back */
.inventory .slot-5  a.empty { background-position: 1px -140px; } /* Chest */
.inventory .slot-19 a.empty { background-position: 1px -187px; } /* Tabard */
.inventory .slot-4  a.empty { background-position: 1px -234px; } /* Shirt */
.inventory .slot-9  a.empty { background-position: 1px -281px; } /* Wrist */
.inventory .slot-10 a.empty { background-position: 1px -328px; } /* Hands */
.inventory .slot-6  a.empty { background-position: 1px -375px; } /* Waist */
.inventory .slot-7  a.empty { background-position: 1px -422px; } /* Legs */
.inventory .slot-8  a.empty { background-position: 1px -469px; } /* Feet */
.inventory .slot-11 a.empty { background-position: 1px -516px; } /* Finger */
.inventory .slot-12 a.empty { background-position: 1px -563px; } /* Trinket */
.inventory .slot-21 a.empty { background-position: 1px -610px; } /* Main Hand */
.inventory .slot-22 a.empty { background-position: 1px -657px; } /* Off Hand */
.inventory .slot-15 a.empty { background-position: 1px -704px; } /* Ranged */
.inventory .slot-28 a.empty { background-position: 1px -751px; } /* Relic */

.inventory .item-quality-0 a.item .frame { background-position: -49px  0; }
.inventory .item-quality-1 a.item .frame { background-position: -98px  0; }
.inventory .item-quality-2 a.item .frame { background-position: -147px 0; }
.inventory .item-quality-3 a.item .frame { background-position: -196px 0; }
.inventory .item-quality-4 a.item .frame { background-position: -245px 0; }
.inventory .item-quality-5 a.item .frame { background-position: -294px 0; }
.inventory .item-quality-6 a.item .frame { background-position: -343px 0; }
.inventory .item-quality-7 a.item .frame { background-position: -392px 0; }

/* socket icons */
.icon-socket.socket-Meta  .empty { background-color: #29292a; } /* Meta */
.icon-socket.socket-Red  .empty { background-color: #301010; } /* Red */
.icon-socket.socket-Yellow  .empty { background-color: #403010; } /* Yellow */
.icon-socket.socket-Blue  .empty { background-color: #102040; } /* Blue */
.icon-socket.socket-Prismatic .empty { background-color: #29292a; } /* Prismatic */
.icon-socket.socket-Hydraulic .empty { background-color: red; }     /* Hydraulic */
.icon-socket.socket-Cogwheel .empty { background-color: #29292a; } /* Cogwheel */
.icon-socket.socket-Meta  .frame { background-position:  -45px   0; } /* Meta */
.icon-socket.socket-Red  .frame { background-position:      0   0; } /* Red */
.icon-socket.socket-Yellow  .frame { background-position:  -15px   0; } /* Yellow */
.icon-socket.socket-Blue  .frame { background-position:  -30px   0; } /* Blue */
.icon-socket.socket-Orange  .frame { background-position:  -90px   0; } /* Orange */
.icon-socket.socket-Purple .frame { background-position:  -75px   0; } /* Purple */
.icon-socket.socket-Green .frame { background-position: -105px   0; } /* Green */
.icon-socket.socket-Prismatic .frame { background-position:  -60px   0; } /* Prismatic */
.icon-socket.socket-Hydraulic .frame { background-position:      0   0; } /* Hydraulic */
.icon-socket.socket-Cogwheel .frame { background-position:  -45px   0; } /* Cogwheel */

